<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neykov.podcastportal.model" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true" >
        <service
            android:name="com.neykov.podcastportal.model.downloads.DownloadIntentService"
            android:exported="false" >
        </service>
        <receiver android:name="com.neykov.podcastportal.model.downloads.DownloadChangeReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
